/* @media (max-width: 1980px) {
  .modal {
    width: 424px !important;
    left: 1386px !important;
    top: 64px !important;
  }
} */



@media (max-width: 1366px) {
    .modal {
      width: 424px !important;
      left: 56.5% !important;
      top: 64px !important;
    }
  }

  @media (max-width: 1290px) {
    .modal {
      width: 424px !important;
      left: 54.5% !important;
      top: 64px !important;
    }
  }

  @media (max-width: 1200px) {
    .modal {
      width: 424px !important;
      left: 49.5% !important;
      top: 64px !important;
    }
  }

  @media (max-width: 1130px) {
    .modal {
      width: 424px !important;
      left: 45.5% !important;
      top: 64px !important;
    }
  }
  @media (max-width: 1050px) {
    .modal {
      width: 424px !important;
      left: 42.5% !important;
      top: 64px !important;
    }
  }

  @media (max-width: 950px ) {
    .modal {
      width: 424px !important;
      left: 36.5% !important;
      top: 64px !important;
    }
  }

  @media (max-width: 768px) {
    .modal {
      width: 424px !important;
      left: 20% !important;
      top: 64px !important;
    }
  }
  @media (max-width: 680px) {
    .modal {
      width: 424px !important;
      left: 16% !important;
      top: 64px !important;
    }
  }
  @media (max-width: 595px) {
    .modal {
      width: 424px !important;
      left: 10% !important;
      top: 64px !important;
    }
  }

  /* @media (max-width: 516px) {
    .modal {
      width: 400px !important;
      left: 8% !important;
      top: 64px !important;
    }
  } */
  @media (max-width: 516px) {
    .modal {
      width: 100% !important;
      left: 0% !important;
      top: 0% !important;
    }
  }
/* @media (min-width: 1205px) {
  .modal {
    width: 424px !important;
    left: 48.6875rem !important;
    top: 64px !important;
  }
}
@media (max-width: 1204px) {
    .modal {
      width: 424px !important;
      left: 40.6875rem !important;
      top: 64px !important;
    }
  }
  @media (max-width: 1080px) {
    .modal {
      width: 424px !important;
      left: 30.6875rem !important;
      top: 64px !important;
    }
  }
  @media (max-width: 921px) {
    .modal {
      width: 424px !important;
      left: 20.6875rem !important;
      top: 64px !important;
    }
  }

  @media (min-width: 768px) {
    .modal {
      width: 424px !important;
      left: 10rem  !important;
      top: 64px !important;
    }
  } */
.formHeading {
  /* width: 221px;
  height: 45px; */
  font-family: "Apercu";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: #082009;
}

.inputHeight{
    height: 48px !important;
    border-radius: 0% !important;
  }
  
  .msgHeight{
    height: 158px !;
    border-radius: 0% !important;
  }

.formBtnHeight {
  height: 56px;
}

.btnbg1 {
  background: #52b04e !important;
  border: none !important;
  color: #fff !important;
  border-radius: 0% !important;
  align-items: center;
  padding: 18px 32px;
  gap: 8px;
  font-family: "Apercu" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 135%;
}
.btnbg1:hover{
  background: #358132 !important;
}