.containerr{
  margin: 0 10.1875rem;
}

@media  (max-width: 575px ){
  .containerr{
    margin: 0 1.25rem;
  }
}

.row{
  display: flex;
  gap: 4rem;
}

.marginTop{
margin-top: 22.4375rem;
}
.marginTopFoo{
  margin-top: 18rem;
  margin-bottom: 80px;
  }

.col8{
  width: 48.5rem;
}

/* .col2{
width: 16.5rem;
display: flex;
flex-direction: column-reverse;
} */

.heading{
  font-family: 'Apercu';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
}
.heading1{
  /* width: 592px;
height: 67px; */

/* Web/Title */

font-family: 'Apercu';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 140%;
/* or 67px */

letter-spacing: -0.02em;

/* Neutral/Dark Grey */

color: #082009;;
}

.heroPera{
/* width: 776px;
height: 136px; */

font-family: 'Apercu';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 140%;
/* or 34px */


/* Neutral/Grey Medium */

color: #6D7E6D;
}

/* @media (min-width:768px){

.heroPera{
width: 776px;
height: 136px;
}
  } */

@media (max-width: 575px){
  .heading{
    font-size: 1.5rem;
  }
}

.h1 {
  font-family: Poppins;
  font-weight: bold;
  color: black;
  font-size: 42px;
  text-transform: uppercase;
  padding: 0.4em 1em;
  position: absolute;
  top: 40%;
  left: 46%;
  transform: translate(-50%, -50%);
}



.margin{
  margin-top: 6rem;
}
@media (max-width:768px){
  .custmPera{
    display: none;
  }
}

@media (min-width:768px){

  .rev_block {
    position: absolute;
  }
.rev_block:after {
  content: '';
  top: 10%;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background: #082009;
  animation: rev_block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 1s;
}
}

@keyframes rev_block {

  0% {
       left: 0;
       width: 100%;
  }
  50% {
       left: 0;
       width: 100%;
  }
  100% {
       left: 100%;
       width: 0%;
  }

}

@keyframes appear-text {

  0% {
       opacity: 0;
  }
  100% {
       opacity: 1;
  }

}

