.containerr{
  margin: 0 10.1875rem;
}

@media  (max-width: 575px ){
  .containerr{
    margin: 0 1.25rem;
  }
}

.row{
  display: flex;
  gap: 4rem;
}

.marginTop{
margin-top: 22.4375rem;
}

.col8{
  width: 48.5rem;
}

/* .col2{
width: 16.5rem;
display: flex;
flex-direction: column-reverse;
} */


.heading{
  font-size: 3rem;
  font-weight: 700;
}

@media (max-width: 575px){
  .heading{
    font-size: 1.5rem;
  }
}

.h1 {
  font-family: Poppins;
  font-weight: bold;
  color: black;
  font-size: 42px;
  text-transform: uppercase;
  padding: 0.4em 1em;
  position: absolute;
  /* top: 40%;
  left: 46%; */
  transform: translate(-50%, -50%);
}

.rev_block {
  position: absolute;
}

.margin{
  margin-top: 2rem;
}

.rev_block .span {
  opacity: 0;
  animation: appear-text 0.0001s linear forwards;
  animation-delay: 1.4s;
}

@media (min-width:768px){
.rev_block:after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background: #082009;
  animation: rev_block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 1s;
}
}

@keyframes rev_block {

  0% {
       left: 0;
       width: 100%;
  }
  50% {
       left: 0;
       width: 100%;
  }
  100% {
       left: 100%;
       width: 0%;
  }

}

@keyframes appear-text {

  0% {
       opacity: 0;
  }
  100% {
       opacity: 1;
  }

}

#onemore {
  top: 51%;
  left: 58%;
}

#onemore .span {
  animation-delay: 2s;
}

#onemore.rev_block:after {
  background: #5e239d;
  animation-delay: 1.4s;
}

@media only screen and (max-width: 900px) {
  .h1 {
       font-size: 20px;
       padding: 0.4em;
  }
}